<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


<!-- You MUST include jQuery before Fomantic -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.js"></script>

<script type=text/javascript src="{{url_for('static', filename='toastr/toastr.min.js') }}"></script>
<link href="{{url_for('static',filename='toastr/toastr.min.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/> 


    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Techno PH</title>
    {% endif %}

</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    toastr.info('{{ message }}')
                </script>
            {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>