{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<body>

<div class="ui main container">
    
    <div class="ui middle aligned center aligned grid">
      <img class="logo" src="{{url_for("static",filename='logo_edit.png')}}" style="width: 400px; margin-bottom: 50px; padding-top: 100px; ">
  </div>


    </div>


<div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">
    <div class="ui middle aligned center aligned grid ">
    <h3>Simulation of Signal Propagation Using Land-Based Setup</h3>
    <iframe width="730" height="450" src="https://www.youtube.com/embed/fDW-7OBgA5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
</div>

<br />
<br />
<br />
<br />

<div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">
    <div class="ui middle aligned center aligned grid ">
    <h3>Simulation of Signal Propagation when Mounted in an Airplane</h3>
      <iframe width="730" height="450" src="https://www.youtube.com/embed/k8_sIiulXQw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

</body>


{% endblock %}