{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<body>

  <div class="ui main container">
    
    <div class="ui one column stackable center aligned page grid">
      <div class="column twelve wide">
        <img class="logo" src="{{url_for("static",filename='logo_edit.png')}}" style="width: 400px; margin-bottom: 50px;  ">
      </div>
    </div>


    </div>


<div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">
    <div class="ui middle aligned center aligned grid ">
    <h3>Very High Frequency Propagation</h3>
    <iframe width="730" height="450" src="https://www.youtube.com/embed/NwR1n6Qdqsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
</div>

<br />
<br />
<br />
<br />

<div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">
    <div class="ui middle aligned center aligned grid ">
    <h3>Aircraft with VHF Propagation</h3>
      <iframe width="730" height="450" src="https://www.youtube.com/embed/oTB4du9qXXA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

</body>


{% endblock %}