{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<body>

    
  <div class="ui main container">

    <div class="ui middle aligned center aligned grid">
      <img class="logo" src="{{url_for("static",filename='logo_edit.png')}}" style="width: 400px; margin-bottom: 50px; padding-top: 100px; ">
  </div>
  
  <h1 class="ui center aligned header">
    Distance Calculator
  </h1>

<div class="ui middle aligned center aligned grid">
  <div class="column twelve wide">
    <br />
      <h4 class="ui horizontal divider header">
      <i class="balance scale icon"></i>
      Formula
      </h4>
      <br />
    
    <img src="http://latex.codecogs.com/gif.latex?r=\sqrt{(\variable{X2}-\variable{X1})^2 + (\variable{Y2}-\variable{Y1})^2}" border="0"/>
    
    <br />

      <h4 class="ui horizontal divider header">
          <i class="calculator icon"></i>
          Calculator
      </h4>

         <div class="ui form">

          <div class="field">
            <label>Latitude 1 (X1)</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Latitude 1" id="X1" value="43.653225">
              <i class="map pin icon"></i>
            </div>
          </div>

          <div class="field">
          <label>Longitude 1 (Y1)</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Longitude 1" id="Y1" value="-79.383186">
              <i class="map pin icon"></i>
            </div>
          </div>

          
          <div class="field">
          <label>Latitude 2 (X2)</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Latitude 2" id="X2" value="45.421532" >
              <i class="map pin icon"></i>
            </div>
          </div>

            <div class="field">
          <label>Longitude 2 (Y2)</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Longitude 2" id="Y2" value="-75.697189">
              <i class="map pin icon"></i>
            </div>
          </div>

          
          <div class="ui blue button" id="compute">
          Calculate
          </div>
          <div />
          <div />
      
          <div id='result'></div>

        </div>
      </div>
      </div>



    </div>
  </div>
</div>

<script type=text/javascript src="{{url_for('static', filename='js/distance.js') }}"></script>

</body>


{% endblock %}