{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<body>

    
  <div class="ui main container">

    <div class="ui one column stackable center aligned page grid">
      <div class="column twelve wide">
        <img class="logo" src="{{url_for("static",filename='logo_edit.png')}}" style="width: 400px; margin-bottom: 50px;  ">
      </div>
    </div>
  
  <h1 class="ui center aligned header">
    Distance Calculator
  </h1>

<div class="ui middle aligned center aligned grid">
  <div class="column twelve wide">
    <br />
      <h4 class="ui horizontal divider header">
      <i class="balance scale icon"></i>
      Formula
      </h4>
      <br />
    
    <img src="http://latex.codecogs.com/gif.latex?r=\sqrt{(\variable{X2}-\variable{X1})^2 + (\variable{Y2}-\variable{Y1})^2}" border="0"/>
    
    <br />

      <h4 class="ui horizontal divider header">
          <i class="calculator icon"></i>
          Calculator
      </h4>

         <div class="ui form">

          <div class="field">
            <label>Latitude 1 (X1)</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Latitude 1" id="X1" value="43.653225">
              <i class="map pin icon"></i>
            </div>
          </div>

          <div class="field">
          <label>Longitude 1 (Y1)</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Longitude 1" id="Y1" value="-79.383186">
              <i class="map pin icon"></i>
            </div>
          </div>

          
          <div class="field">
          <label>Latitude 2 (X2)</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Latitude 2" id="X2" value="45.421532" >
              <i class="map pin icon"></i>
            </div>
          </div>

            <div class="field">
          <label>Longitude 2 (Y2)</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Longitude 2" id="Y2" value="-75.697189">
              <i class="map pin icon"></i>
            </div>
          </div>

          
          <div class="ui blue button" id="compute">
          Calculate
          </div>
          <div />
          <div />
      
          <div id='result'></div>

        </div>
      </div>
      </div>

      
      


    </div>
  </div>
</div>

  <script>

$( document ).ready(function() {
     

 $( "#compute" ).click(function() {
      var X1 = $('#X1').val();
      var Y1 = $('#Y1').val();
      var X2 = $('#X2').val();
      var Y2 = $('#Y2').val();
      
      
      $.ajax({ 
        type : "POST", 
        url : `compute_distance?X1=${X1}&Y1=${Y1}&X2=${X2}&Y2=${Y2}`, 
        success : function(result) { 
           
           console.log(eval(result))

           $('#result').html(`<p>
           Result is:
           <br />
            <br />
           ${  Math.round(eval(result).r * 100) / 100 }
           
           `);


           
        }, 
        error : function(result) { 
          console.log(result);
        } 
      }); 


    });
});






  </script>
  

</body>


{% endblock %}