{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<body>

  <div class="ui main text container">
    
    <div>
    <img class="logo" src="{{url_for("static",filename='logo.png')}}" style="width: 330px;">
    </div>
    
    <p><strong>TECHnology</strong> that is <strong>NO</strong>urishing from the <strong>Ph</strong>ilippines | Innovation for Real-Life.</p>

    <p><strong>Nico G. Guarnes | Rotherford P. Marmibe | Giovanni Gerard A. Araque</strong></p>
    
    <p><strong>WHO ARE WE?</strong></p>

    <p>We are technologists that have diverse background in information and communications. </p>

    <p>Two of our members are travelers who have seen various communities that are depraved of information. Currently, we have applied ICT in various projects in the region. </p>

    <p>We hope that our existence and our experience may have more impact to the people.</p>

<br/>
<br/>
<div class="ui middle aligned center aligned grid">

    <img class="logo" src="{{url_for("static",filename='zzzzzzz.jpg')}}" style="width: 650px;">
</div>

  </div>
  <br />
  <br />

</body>


{% endblock %}