<!-- 
                                                       
       ,,     *     **  **   ///////  ((     (( (((####
        ,,   ***    *       //        ((     ((        
         ** .* **  **   //   /////    (((((((((        
          * *   ****    //        //  ((     ((        
          .**    **     //  /.    /(  ((     ((        
,,,,,,,    *            //    ////    ((     ((        
                   * ,    ,,      ,                    
                                      

Ideally, Techno PH would like to extract topographic details of the various lands and 
also Bathmetry and  depth of water in oceans, seas, or lakes. 
The height of the lands will be added to the arbitrary height of the antennas.

The Philippines is an island archipelago surrounded by salt water,
differing heights in topography which may result to line-of-sight propagation,
degree vegetation and natural structures, and etc.

This will aid Techo PH to better estimate the signal range of WISH.

However, the automated extraction of such details are not directly possible as of the moment.  
This is because the information available is in its static format(i.e. graphical or image files). 

[SRTM v3 in World View] - land elevation
[GOES] - We manually retrieve High-level atmospheric water vapor,
winds, rainfall data in GOES. Weather conditions can affect the 
maximum power transfer among antenna sites.
[EONET] - We use the EONET API in the calculators to retrieve data about storms.
The determining the path of storms is critical in the operation of WISH. 
Disturbances in between and among the antenna sites may affect the maximum power transfer of antennas. 
Severe Storms data has coordinates and its location in time. 
It would be ideal if the api provides the area or radius of the event for it to be tracked.

It is recommended that these ask these data be made available
by providing JSON, XML file formats.

Thanks for reading all the way :)

-->
{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">

<body>

<div class="ui main container">

<div class="ui middle aligned center aligned grid">
      <img class="logo" src="{{url_for("static",filename='logo_edit.png')}}" style="width: 400px; margin-bottom: 50px; padding-top: 100px; ">
  </div>
  
      <div class="ui form">
      <br />
      <br />
         <h4 class="ui horizontal divider header">
        <i class="calculator icon"></i>
        Location Calculator
     </h4>
        <h2>Antenna 1 Position</h2>

        <div class="field">
          <label>Latitude</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Latitude" id="Antenna1X" value="11.590677">
            <i class="wifi icon"></i>
          </div>
        </div>

        <div class="field">
          <label>Longitude</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Longitude" id="Antenna1Y" value="123.334329">
            <i class="wifi icon"></i>
          </div>
        </div>

        <h2>Antenna 2 Position</h2>
        
        <div class="field">
          <label>Latitude</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Latitude" id="Antenna2X" value="11.468438">
            <i class="wifi icon"></i>
          </div>
        </div>

        <div class="field">
          <label>Longitude</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Longitude" id="Antenna2Y" value="123.150961">
            <i class="wifi icon"></i>
          </div>
        </div>

        <h4 class="ui horizontal divider header">
        <i class="calculator icon"></i>
        Signal Range Calculator
     </h4>
        
      <div class="field">
          <label>Height of antenna transmitter (HTx) in ft</label>
          <div class="ui left icon input">
            <input type="text" placeholder="HTx" id="HTx" value="60">
            <i class="arrows alternate vertical pin icon"></i>
          </div>
        </div>

        <div class="field">
        <label>Height of antenna receiver (HRx) in ft</label>
          <div class="ui left icon input">
            <input type="text" placeholder="HRx" id="HRx" value="60">
            <i class="arrows alternate vertical pin icon"></i>
          </div>
        </div>

      </div>


<br />

    <div class="ui blue button" onclick="showAntennasArea()">Show Antenna Area</div>

    <div class="ui blue button" onclick="calculateSignalRange()">Calculate Signal Range</div>


    <div class="ui blue button" onclick="showStorms()">Test Storm</div>

    <br />
    <br />
    <div id="result_distance"></div>
    <div id="result_signal_range"></div>
    <br />
    <h3>Your status</h3>
    <div id="result_comparison"></div>
    <br />
    <br />

</div>
</body>

<div id="map"></div>

<script type=text/javascript src="{{url_for('static', filename='js/map.js') }}"></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV47mHaKm2W7oFPJusEqpYC36UfXj1fxU&callback=initMap" async defer></script>
 

{% endblock %}