{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>


<body>

<div class="ui main text container">

  
      <div class="ui form">
      <br />
      <br />
         <h4 class="ui horizontal divider header">
        <i class="calculator icon"></i>
        Location Calculator
     </h4>
        <h2>Antenna 1 Position</h2>

        <div class="field">
          <label>Latitude</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Latitude" id="Antenna1X" value="43.653225">
            <i class="wifi icon"></i>
          </div>
        </div>

        <div class="field">
          <label>Longitude</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Longitude" id="Antenna1Y" value="-79.383186">
            <i class="wifi icon"></i>
          </div>
        </div>

        <h2>Antenna 2 Position</h2>
        
        <div class="field">
          <label>Latitude</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Latitude" id="Antenna2X" value="45.421532">
            <i class="wifi icon"></i>
          </div>
        </div>

        <div class="field">
          <label>Longitude</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Longitude" id="Antenna2Y" value="-75.697189">
            <i class="wifi icon"></i>
          </div>
        </div>

        <h4 class="ui horizontal divider header">
        <i class="calculator icon"></i>
        Signal Range Calculator
     </h4>
        
      <div class="field">
          <label>Height of antenna transmitter (HTx) in ft</label>
          <div class="ui left icon input">
            <input type="text" placeholder="HTx" id="HTx" value="60">
            <i class="arrows alternate vertical pin icon"></i>
          </div>
        </div>

        <div class="field">
        <label>Height of antenna receiver (HRx) in ft</label>
          <div class="ui left icon input">
            <input type="text" placeholder="HRx" id="HRx" value="60">
            <i class="arrows alternate vertical pin icon"></i>
          </div>
        </div>


      </div>







      

    

<br />

    <div class="ui blue button" onclick="showAntennasArea()">Show Antenna Area</div>

    <div class="ui blue button" onclick="calculateSignalRange()">Calculate Signal Range</div>


    <div class="ui blue button" onclick="showStorms()">Test Storm</div>

    <br />
    <br />
    <div id="result_distance"></div>
    <div id="result_signal_range"></div>
    <br />
    <br />

</div>
</body>



 <div id="map"></div>
    <script>

    
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 4
        });
      }


    function drawOnclick() {
        var antennasCircle = new google.maps.Circle({
        strokeColor: "#FF0000",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "#FF0000",
        fillOpacity: 0.35,
        map: map,
        center: {
            lat: 48.8534100,
            lng: 2.34
        },
        radius: 1000 * 100
        });
        map.fitBounds(antennasCircle.getBounds());
    }

    function drawCircle(lat, lng, radius, strokeColor, fillColor) {
        var antennasCircle = new google.maps.Circle({
        strokeColor: strokeColor, //#FF0000
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: fillColor, //#FF0000
        fillOpacity: 0.35,
        map: map,
        center: {
            lat: lat,
            lng: lng
        },
        radius: radius
        });
        map.fitBounds(antennasCircle.getBounds());
    }

    function showStorms() {
        $.ajax({ 
                type : "GET", 
                url : `storm_data`, 
                success : function(result) { 
                
                console.log(eval(result)[0].geometries[0].coordinates[0]); // Longitude
                console.log(eval(result)[0].geometries[0].coordinates[1]); // Latitude
                console.log(eval(result)[0].geometries[1].coordinates[0]); // Longitude
                console.log(eval(result)[0].geometries[1].coordinates[1]); // Latitude

                const Longitude1 = eval(result)[0].geometries[0].coordinates[0];
                const Latitude1 = eval(result)[0].geometries[0].coordinates[1];
                const Longitude2 = eval(result)[0].geometries[1].coordinates[0];
                const Latitude2 = eval(result)[0].geometries[1].coordinates[1];


                //quick calculation
                var X = (Latitude1 + Latitude2) / 2
                var Y = (Longitude1 + Longitude2) / 2

                //var D = Math.sqrt(Math.pow((Latitude1 - Latitude2), 2) + Math.pow((Longitude1 - Longitude2), 2))

                //var _Radius = D/2
                
                drawCircle(X, Y, 1000000, '#FF0000' , '#FF0000')
                
                }, 
                error : function(result) { 
                console.log(result);
                } 
            }); 
        
    }

    function showAntennasArea()
    {
        var X1 = parseFloat(document.getElementById('Antenna1X').value);
        var Y1 = parseFloat(document.getElementById('Antenna1Y').value);
        var X2 = parseFloat(document.getElementById('Antenna2X').value);
        var Y2 = parseFloat(document.getElementById('Antenna2Y').value);

        drawCircle(X1, Y1,   90000, 'green', 'green')

        drawCircle(X2, Y2,   90000, 'green', 'green')
      
      
      $.ajax({ 
        type : "POST", 
        url : `compute_distance?X1=${X1}&Y1=${Y1}&X2=${X2}&Y2=${Y2}`, 
        success : function(result) { 
           
           console.log(eval(result))

           $('#result_distance').html(`<p>
           Distance Result is:
           <br />
           ${  Math.round(eval(result).r * 100) / 100 } kilometers
            <br />    
            <br />         
           `);


           
        }, 
        error : function(result) { 
          console.log(result);
        } 
      }); 


    }


    function calculateSignalRange() {
      var HTx = parseFloat(document.getElementById('HTx').value);
      var HRx = parseFloat(document.getElementById('HRx').value);

      console.log(HTx);
      console.log(HRx);
      $.ajax({ 
        type : "POST", 
        url : `compute_signal_range?HTx=${HTx}&HRx=${HRx}`, 
        success : function(result) { 
           
           console.log(eval(result))

           $('#result_signal_range').html(`<p>
           Signal Result is:
            <br />
           ${  Math.round(eval(result).r * 100) / 100 } miles
           <br />
           or
           <br />
           ${ (Math.round((eval(result).r * 1.609) * 100) / 100) } kilometers
           <p>
           `);


           
        }, 
        error : function(result) { 
          console.log(result);
        } 
     }); 

    }


    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV47mHaKm2W7oFPJusEqpYC36UfXj1fxU&callback=initMap"
    async defer>
   

















    </script>
 

{% endblock %}