<head>
  <link href="{{url_for('static',filename='css/nav_styles.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/> 
</head>

<div class="ui stackable inverted fixed menu " style="border: 0px solid rgba(34,36,38,.15);" >
  <a class="ui item " href="/" style="font-size: 20px;">Home</a>
    <div class="ui dropdown item" style="font-size: 20px;">
      Calculators <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/signal_range">Signal Range</a>
        <a class="item" href="/distance_calculator">Distance Calculator</a>
        <a class="item" href="/weather_disturbance">Weather Disturbance/Outage Status</a>
        <a class="item" href="/attenuation_water">Attenuation(Water) Calculator</a>
        <a class="item" href="/map">Antenna and Storms Locator</a>
      </div>
    </div>
  <a class="item" href="/demo_anim" style="font-size: 20px;">Demo Animations</a>
</div>

<script type=text/javascript src="{{url_for('static', filename='js/index.js') }}"></script>