{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<body>

    
  <div class="ui main text container">
  <br />
  
  <h1>Signal Range Calculator</h1>
  <br />
    <h4 class="ui horizontal divider header">
    <i class="balance scale icon"></i>
    Formula
    </h4>
    <br />

      <!--

Sqrt2* height of antenna transmitter + Sqrt2* height of antenna receiver.. 

antenna height in feet.. 
 r is in miles.. 
value miles and kilometers.. 1mi= 1.609kms.


\sqrt{2}\times\variable{HTx}+\variable{HRx}+\sqrt{2}\times\variable{HTx}
    -->


  <img src="http://latex.codecogs.com/gif.latex?r=\sqrt{2}\times\variable{HTx}+\sqrt{2}\times\variable{HTx}" border="0"/>
  <br />

    <h4 class="ui horizontal divider header">
        <i class="calculator icon"></i>
       Signal Range Calculator
    </h4>

    <div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">

        <div class="field">
          <label>Height of antenna transmitter (HTx) in ft</label>
          <div class="ui left icon input">
            <input type="text" placeholder="HTx" id="HTx">
            <i class="arrows alternate vertical pin icon"></i>
          </div>
        </div>

        <div class="field">
        <label>Height of antenna receiver (HRx) in ft</label>
          <div class="ui left icon input">
            <input type="text" placeholder="HRx" id="HRx">
            <i class="arrows alternate vertical pin icon"></i>
          </div>
        </div>

        


        
        <div class="ui blue button" id="compute">
        Calculate
        </div>
      </div>
    </div>
    <div class="middle aligned column">
      <div id='result'>
        
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    <div>Result <i class="arrow right icon"></i></div>
  </div>
</div>


     <h4 class="ui horizontal divider header">
        <i class="wifi icon"></i>
        Techno PH
    </h4>



  </div>

</body>



<script>
$( document ).ready(function() {
     

 $( "#compute" ).click(function() {
      var HTx = $('#HTx').val();
      var HRx = $('#HRx').val();
      
      console.log(HTx);
      console.log(HRx);
      $.ajax({ 
        type : "POST", 
        url : `compute_signal_range?HTx=${HTx}&HRx=${HRx}`, 
        success : function(result) { 
           
           console.log(eval(result))

           $('#result').html(`<p>
           Result is:
           <br />
            <br />
           ${  Math.round(eval(result).r * 100) / 100 } miles
           <br />
           or
           <br />
           ${ (Math.round((eval(result).r * 1.609) * 100) / 100) } kilometers
           <p>
           `);


           
        }, 
        error : function(result) { 
          console.log(result);
        } 
     }); 


  });


  
});







</script>

{% endblock %}