{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<body>

    
  <div class="ui main  container">

      
   <div class="ui middle aligned center aligned grid">
      <img class="logo" src="{{url_for("static",filename='logo_edit.png')}}" style="width: 400px; margin-bottom: 50px; padding-top: 100px; ">
  </div>
  
  <h1 class="ui center aligned header">
    Signal Range Calculator
  </h1>

   <div class="ui middle aligned center aligned grid">
      <div class="column twelve wide">
        <br />
        <h4 class="ui horizontal divider header">
        <i class="balance scale icon"></i>
        Formula
        </h4>
        <br />
      
      <img src="http://latex.codecogs.com/gif.latex?r=\sqrt{2}\times\variable{HTx}+\sqrt{2}\times\variable{HTx}" border="0"/>
      <br />

        <h4 class="ui horizontal divider header">
            <i class="calculator icon"></i>
          Signal Range Calculator
        </h4>

  <div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">

      <div class="ui form">
        <div class="field">
          <label>Height of antenna transmitter (HTx) in ft</label>
          <div class="ui left icon input">
            <input type="text" placeholder="HTx" id="HTx">
            <i class="arrows alternate vertical pin icon"></i>
          </div>
        </div>

        <div class="field">
          <label>Height of antenna receiver (HRx) in ft</label>
          <div class="ui left icon input">
            <input type="text" placeholder="HRx" id="HRx">
            <i class="arrows alternate vertical pin icon"></i>
          </div>
        </div>

        <div class="ui blue button" id="compute">
        Calculate
        </div>
        <br />
        <br />
        <br />
        <div id='result'></div>
      </div>
    </div>
  </div>
      

  



      </div>

  

</body>



<script>
$( document ).ready(function() {
     

 $( "#compute" ).click(function() {
      var HTx = $('#HTx').val();
      var HRx = $('#HRx').val();
      
      console.log(HTx);
      console.log(HRx);
      $.ajax({ 
        type : "POST", 
        url : `compute_signal_range?HTx=${HTx}&HRx=${HRx}`, 
        success : function(result) { 
           
           console.log(eval(result))

           $('#result').html(`<p>
           Result is:
           <br />
            <br />
           ${  Math.round(eval(result).r * 100) / 100 } miles
           <br />
           or
           <br />
           ${ (Math.round((eval(result).r * 1.609) * 100) / 100) } kilometers
           <p>
           `);


           
        }, 
        error : function(result) { 
          console.log(result);
        } 
     }); 


  });


  
});







</script>

{% endblock %}